<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/judoc.css">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="icon" href="/assets/infra/favicon.ico">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
<div style="background-color: #d9edf7; border-color: #bce8f1; color: #31708f; text-align:center; font-size:24px; position: fixed; width: 100%; top: 0; border-bottom: 1px solid #333; clear: both; z-index: 999;">
    Online <a href="https://uclouvain.be/fr/secteurs/sst/evenements/public-thesis-defense-icteam-0-1-2-3-4-5-6-7-8-9-10.html">public defense</a> on <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=Public+defense&iso=20200623T14&p1=%3A&ah=3">23rd of June 2020 at 4pm (CEST)</a>: <a href="https://teams.microsoft.com/l/meetup-join/19%3a67690f0b3cc140939ee601a2aec63436%40thread.tacv2/1590569331077?context=%7b%22Tid%22%3a%227ab090d4-fa2e-4ecf-bc7c-4127b4d582ec%22%2c%22Oid%22%3a%22f9efdc16-0c01-4efe-a405-7c150ae9d6d6%22%7d">Direct link to Teams meeting (no need for any account)</a>
</div>
  <header>
    <div class="blog-name"><a href="">Benoît Legat</a></div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/publications/">Publications</a></li>
        <li><a href="/softwares/">Softwares</a></li>
      </ul>
      <img src="/assets/infra/hamburger.svg" id="menu-icon">
    </nav>
  </header>

<!-- Content appended here -->
